<header class="mx-3 mb-auto">
  <div>
    <div class="float-md-start mb-0"><%= image_tag("logo.png", :alt => "logo", style: 'height:50px; width:auto;') %></div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </div>
</header>
